@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Google Sans", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header-content {
    display: flex;
    justify-content: space-around;
    box-shadow: inset 2px 2px 5px rgba(0,0,0,0.5);
    padding: 10px;
}

.login {
    width: 80px;
    border-style: none;
    background-color: rgb(230, 230, 230);
    padding: 4px;
    font-size: 1.2em;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1em;
}

main {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.add-book {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.add-book-btn {
    font-size: 2.5em;
    width: 60px;
    height: 60px;
    border-style: none;
    background-color: white;
    border-radius: 50px;
    transition: ease-in-out 0.5s;
    cursor: pointer;
}

.add-book-btn:hover {
    background-color: rgb(237, 237, 237);
    transform: scale(1.1);
}

.add-book-form {
    background-color: white;
    height: 380px;
    width: 300px;
    border: 2px solid rgb(156, 156, 156);
    border-radius: 8px;
    padding: 30px 10px 0 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.add-book-form::backdrop {
    background-color: rgba(0, 0, 0, 0.2);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

form > h1 {
    font-size: 1.5em;
    font-weight: 500;
}

form > input {
    width: 80%;
    padding: 5px 5px 5px 10px;
    border-radius: 5px;
    border: 1px solid rgb(160, 160, 160);
    outline: none;
}

form > input:focus {
    border-color: rgb(63, 63, 63);
}

.read-or-not-container {
    display: flex;
    gap: 10px;
    align-self: flex-end;
    margin-right: 10%;
}

.read-or-not-container > p {
    font-size: 0.85em;
    color: rgb(113, 113, 113);
}

.read-or-not-container > input {
    cursor: pointer;
    width: 15px;
}

form > button, .close-btn {
    width: 80%;
    padding: 10px;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(231, 231, 231);
    font-weight: 600;
    font-size: 1em;
    margin: 10px 0 0 0;
}

.close-btn {
    margin: 0;
    background-color: rgb(255, 0, 0);
    color: white;
}

footer {
    display: flex;
    justify-content: center;
    margin: 0 0 10px 0;
}

.copyrights > p {
    font-weight: 400;
}

.name-bolder {
    margin-left: -5px;
    font-weight: 700;
}

.copyrights {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
}

.copyrights img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: ease-in-out 0.5s;
}

.copyrights img:hover {
    transform: scale(1.1);
}

.book-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 80vw;
    height: auto;
    margin: 0 0 10px 0;
}

.book-card {
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    height: 250px;
    gap: 10px;
}

.delete-book-btn {
    font-weight: 600;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    color: #fff;
    height: 30px;
    background-color: red;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    margin-top: auto;
}

.delete-book-btn:hover {
    font-weight: 600;
    transform: scale(1.02);
}
