@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Google Sans", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header-content {
    display: flex;
    justify-content: space-around;
    box-shadow: inset 2px 2px 5px rgba(0,0,0,0.5);
    padding: 10px;
}

.login {
    width: 100px;
    border-style: none;
    background-color: rgb(230, 230, 230);
    padding: 4px;
    font-size: 1.2em;
    border-radius: 5px;
    font-weight: 500;
}

main {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.add-book {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.add-book-btn {
    font-size: 2.5em;
    width: 60px;
    height: 60px;
    border-style: none;
    background-color: white;
    border-radius: 50px;
    transition: ease-in-out 0.5s;
    cursor: pointer;
}

.add-book-btn:hover {
    background-color: rgb(237, 237, 237);
    transform: scale(1.1);
}

footer {
    display: flex;
    justify-content: center;
    margin: 0 0 10px 0;
}

.copyrights {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
}

.copyrights img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: ease-in-out 0.5s;
}

.copyrights img:hover {
    transform: scale(1.1);
}
